{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    
    {% include 'error.jinja2' %}

    <h1>Forgot password</h1>
    <p class="lead">Confirm with your email:</p>

    <form method="post" action="{{request.route_url('forgot_password')}}">
        {% include 'hidden_fields.jinja2' %}

        <label>Email *</label>
        <input class="form-control" type="email" name="email" id="email">
        <input class="btn btn-primary m-1" type="submit" value="Confirm">
    </form>

</div>

{% endblock content %}