{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    
    {% include 'error.jinja2' %}

    <h1>Reset password</h1>
    <p class="lead">Create new password: Oauth included (Github, Discord, ...) </p>
    <p class="lead">When you set a password for Oauth accounts, you can use it on the login page.</p>

    <form method="post" action="{{request.route_url('reset_password')}}">
    	{% include 'hidden_fields.jinja2' %}

        <label>New password *</label>
        <input class="form-control" type="password" name="password">

        <input class="btn btn-primary m-1" type="submit" value="Set password">
    </form>

</div>

{% endblock content %}